@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans&display=swap');

html, body {
    height: 100%;
    scroll-behavior: smooth;
    font-family: "Noto Sans", sans-serif;
}

body {
  // display: flex;
  // flex-direction: column;
  background: #f0ecea !important;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgba(155, 57, 126, 0.6);
  border: 1px solid rgba(155, 57, 126, 0.6);
}

/************************
Formatting
************************/
.space {
  padding: 0em 1em 0em 1em;
}

/************************
Reduce Scroll Effect
************************/
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/************************
Buttons
************************/

button.btn-secondary {
  background: #9B397E;
  border: 1px solid #9B397E;

  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    background: #C998CE;
  }
}

/************************
Navigation (navbar.blade.php)
*************************/

.navbar-light .navbar-brand {
  color: #9B397E !important;
}

.active {
  border-bottom: 2px solid #9B397E;
}

.support {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

// .navbar-light #support {
//     border: 1px solid rgba(108, 117, 125, 0.2);
//     border-radius: 10px;
//   }

/************************
Content (navbar.blade.php)
*************************/
.modal-footer {
  border-top: 0px !important;
}

.modal-header {
  border-bottom: 0px !important;
}

.container {
  padding: 2rem;
  width: 100%;
  height: 100%;
}

.header {
  background: url("../images/header.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#intro {
  margin-top: 12%;

  h1 {
    color: #fff;
    font-weight: 800;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.45);
  }

  .arrow {
    color: #fff;
  }
}

.question {
  padding: 2em;
  margin: 3% auto; //needs to be modified for mobile
  width: 90%;

  // border: 1px solid #f0f0f0;
  min-height: 100%;
}

.advanced {
  margin-top: 2%;
  padding: 4%;
  border: 1px solid #f0f0f0;
  background: #fff;
  display:none;
}

subtitle {
  font-style: italic;
  a {
    color: #9B397E;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
  }
}

.state {
  margin-top: 1%;
}

.input-group {
  margin-bottom: 1%;
}

form {
  margin: 0 auto;
  width: 75%;
}

#input-question {
  padding: 1em;
  margin-bottom: 2%;
}

.row.arrow-circle {
      margin: 3% auto;
      width: 5%;
      // display: block;

  // //   // border-radius: 60%;
  // //   // background: red; // width: 75px, height: 75px
  // //   // width: 5vw;
  // //   // height: 5vw;
  // //   margin: 0 auto;
  }


.arrow {
  width: 90%;
  color: #8A3370;
}

.info-section {
  padding: 7em; //4em 15em 1em 15em;
  width: 100%;
}

.wrap {
  border-bottom: 1px solid #b7787a;
  // height: 100vh;
}
#section1 {
  // background: #333825;
  width: 100%;
}

#section2 {
//  background: #b8dead;
  width: 100%;
}

#section3 {
//  background: #ffd699;
  width: 100%;
}

.content-img {
  float: left;
  padding: 0.35em;
  vertical-align: baseline;
  margin-bottom: 22%;
}

.snippet {
  width: 70%;
  background: #fff;
  padding: 0.75em;
  margin-left: 12%;
}

.top {
  float:right;
  display:block;
}

.footer {
  color: #6c757d;
  font-weight: 400;
  width: 100%;
  margin-top: 7%; //20%;
  margin-left: 0%;
  margin-right: 0%;

  a {
    color: #6c757d;
  }

  a:hover {
    color: #9B397E;
  }
}

// Search page (search.index)
.input {
  font-style: italic;
  margin-top: 2%;
  color: #6c757d;
}

.results {
  background: #ffffff;
  padding: 1.25em;
  margin-bottom: 1%; //20%;
  margin-top: 3%;
  border: 1px solid #f0f0f0;
  height: auto;

  a {
    color: #9B397E;
    text-decoration: underline;
  }
}

.about {
  a {
    color: #9B397E;
    text-decoration: underline;
  }
}

.patreon {
  background-image: url("../images/patreon.png");
}
