@media only screen and (max-width: 667px) {

  /************************
  Navigation (navbar.blade.php)
  *************************/
  .active {
    border-bottom: 0px solid #9B397E;
  }

  .navbar-collapse {
    background: rgba(159, 134, 136, 0.4);
    padding: 0.7em;
  }

  .question {
    padding: 0em;
    width: 100%;
    margin: 6% 0%;
  }

  form {
    width: 100%;
  }

  #input-question {
    padding: 0em;
  }

  .info-section {
    padding: 1em;
  }

  .content-img {
    display:none !important;
  }

  #section1 p:first-of-type {
    display:none;
  }

  #section3 .third {
    display:none;
  }

  .search-question, .query {
    padding: 1em;
  }

  .modal-body p:nth-of-type(2) {
    display: none;
  }

}
